# Noções básicas de Python

## Importar bibliotecas

É feito usando o comando **import** (a biblioteca deve estar instalada na máquina)

In [2]:
import pandas
import numpy
import matplotlib.pyplot

Para facilitar, pode-se substituir o nome da biblioteca por um *alias

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Ao se importar bibliotecas com muitas funções, convém também selecionar especificamente o que vai ser usado

In [4]:
from sklearn.linear_model import LinearRegression

## Sintaxe

### Variáveis

Não é preciso declarar o tipo de variável: numérico, caracter, etc.

In [5]:
num_hosp = 3
description = '2 bedrooms in Gávea super cozy' # ou "2 bedrooms in Gávea super cozy"

In [6]:
num_hosp

3

In [7]:
description

'2 bedrooms in Gávea super cozy'

#### String (caracter)

Strings são definidas com áspas - simples ou duplas -, e podem ser concatenadar com o operador  '+'

In [8]:
nome='Roberto'
num_pes='2'
num_dias='4'

confirma="Olá, "+nome+", você reservou um quarto para "+num_pes+" pessoas durante "+num_dias+" dias \n\nBoa estadia!"

print(confirma)

Olá, Roberto, você reservou um quarto para 2 pessoas durante 4 dias

Boa estadia!

Nota: o caracter "\" é usado para diferenciar caracteres especiais, por ex:
    - \n: nova linha
    - \": áspas
    - \t: tab

Para a barra invertida, usase a sequência "\\", ou, para ignorar toda a ocorrência, r""

In [9]:
caminho1="\\ofertas\\carnaval"
caminho2=r"\agendamentos\pendentes"

print(caminho1)
print(caminho2)

\ofertas\carnaval
\agendamentos\pendentes

#### Lists (listas/array)

Listas são definidas com colchetes [ ], e são exatamente isso, listas de variáveis, não necessariamente do mesmo tipo.
Para acessar um elemento, utiliza-se um índice, que em Python começa do 0, como na maioria das linguagens.

In [10]:
rating = [3, 4, 3, 3, 5]
interesses= ['praia', 'trilha', 'cultural']
info=['Roberto', 'Arantes', 25, False]

Comandos úteis são:
    - sum(): soma
    - len(): comprimento da lista - número de elementos
    - in: checar pertencimento
    - .extend: adiciona uma lista à outra
    - +: concatena listas
    - .append: adiciona elemento a uma lista
    - sorted(): ordena os elementos de acordo com seu módulo

In [11]:
media=sum(rating)/len(rating) # 3.6
compat = 'cachorro' in interesses # False
nome_completo=info[0]+' '+info[1] # 'Roberto Arantes'

#### Tuples (tuplas)

Tuplas são definidas com parênteses ( ), ou nada, e têm basicamente as mesmas propriedades das listas, porém não podem ser modificadas depois de declaradas.

In [25]:
ratings = 2, 3, 3, 4, 3

try: 
    ratings[0] = 5
except TypeError:
    print('Não podemos modificar os ratings')

Não podemos modificar os ratings

Apesar disso, ainda podemos sobreescrever tuplas utilizando os mesmos nomes de variáveis

In [26]:
ratings =(5, 5, 5, 5, 5)
print(ratings)

(5, 5, 5, 5, 5)

#### Dicionários

Dicionários são definidos com colchetes { }, e associa determinados valores a chaves, em vez de índices numéricos

In [28]:
info = {'nome': 'Roberto', 'sobrenome':'Arantes', 'idade': 26, 'alérgico': False }

idade_hospede = info['idade']

In [1]:
infos = [{'nome': 'Roberto', 'sobrenome':'Arantes', 'idade': 26, 'alérgico': False },
         {'nome': 'Mariana', 'sobrenome':'Dias', 'idade': 24, 'alérgico': True }]

In [4]:
'Bom dia, '+infos[0]['nome']+' e '+infos[1]['nome']+'!'

'Bom dia, Roberto e Mariana!'

### Controle de fluxo

Como a maioria das linguagens, Python tem funções condicionais e de iteração, ou seja **if-else**, **while** e **for**.

**Importante** A identação das linhas define o que está dentro ou fora dos comandos

In [7]:
vagas = [{'id': '001', 'preco': 300},
         {'id': '002', 'preco': 200},
         {'id': '003', 'preco': 100},
         {'id': '004', 'preco': 250},
         {'id': '005', 'preco': 400},
         {'id': '006', 'preco': 150},]

prec_max = 200

for i in range(6):
    if vagas[i]['preco']<=prec_max:
        print('Quarto '+vagas[i]['id']+ ' dentro do preço máximo')
    else:
        print('Quarto '+vagas[i]['id']+ ' acima do preço máximo')

Quarto 001 acima do preço máximo
Quarto 002 dentro do preço máximo
Quarto 003 dentro do preço máximo
Quarto 004 acima do preço máximo
Quarto 005 acima do preço máximo
Quarto 006 dentro do preço máximo

Ou ainda

In [8]:
for quarto in vagas:
    if quarto['preco']<=prec_max:
        print('Quarto '+quarto['id']+ ' dentro do preço máximo')
    else:
        print('Quarto '+quarto['id']+ ' acima do preço máximo')

Quarto 001 acima do preço máximo
Quarto 002 dentro do preço máximo
Quarto 003 dentro do preço máximo
Quarto 004 acima do preço máximo
Quarto 005 acima do preço máximo
Quarto 006 dentro do preço máximo

### Pertencimento a listas

Podemos ainda criar regras para pertencimento a listas de forma mais prática, aplicando filtros ou criando listas derivadas

In [11]:
vagasEmConta = [quarto for quarto in vagas if quarto['preco']<=prec_max]
print(vagasEmConta)

[{'id': '002', 'preco': 200}, {'id': '003', 'preco': 100}, {'id': '006', 'preco': 150}]

In [12]:
['Quarto '+quarto['id']+ ' dentro do preço máximo' for quarto in vagas if quarto['preco']<=prec_max]

['Quarto 002 dentro do preço máximo',
 'Quarto 003 dentro do preço máximo',
 'Quarto 006 dentro do preço máximo']

## Pandas

Pandas é uma biblioteca para manipulação de dados no Python. Ela disponibiliza estruturas e funções que facilitam consideravelmente o trabalho.

Começamos importanto a biblioteca. Para facilitar, a chamamos de **pd**

In [1]:
import pandas as pd

### Importar dados

A forma mais comum de armazenamento de dados que utilizaremos será na forma de arquivo csv (separado por vírgula). Para carregá-los para seu código, usa-se a função **read_csv**

pd.read_csv(< caminho do arquivo >, sep=',', header=0, names=None, index_col=None)

sep = separador utilizado
header = linha com o nome das colunas
names = nomes das colunas. header=None
index_col = coluna com o nome das linhas

In [2]:
srs_sem=pd.read_csv('series_sem_hd.csv')

In [4]:
srs_sem.head()

           Very Nice 2Br - Copacabana - WiFi
0           Nice and cozy near Ipanema Beach
1  Beautiful Modern Decorated Studio in Copa
2           NICE & COZY 1BDR - IPANEMA BEACH
3           Cosy flat close to Ipanema beach
4              COPACABANA SEA BREEZE  -  RIO

In [5]:
srs_sem2=pd.read_csv('series_sem_hd.csv', header=None, names=['name'])

In [6]:
srs_sem2.head()

                                        name
0          Very Nice 2Br - Copacabana - WiFi
1           Nice and cozy near Ipanema Beach
2  Beautiful Modern Decorated Studio in Copa
3           NICE & COZY 1BDR - IPANEMA BEACH
4           Cosy flat close to Ipanema beach

In [8]:
srs_com=pd.read_csv('series_com_hd.csv')

In [10]:
srs_com.head()

   Unnamed: 0                                       name
0           0          Very Nice 2Br - Copacabana - WiFi
1           1           Nice and cozy near Ipanema Beach
2           2  Beautiful Modern Decorated Studio in Copa
3           3           NICE & COZY 1BDR - IPANEMA BEACH
4           4           Cosy flat close to Ipanema beach

In [11]:
srs_com2=pd.read_csv('series_com_hd.csv', index_col=0)

In [12]:
srs_com2.head()

                                        name
0          Very Nice 2Br - Copacabana - WiFi
1           Nice and cozy near Ipanema Beach
2  Beautiful Modern Decorated Studio in Copa
3           NICE & COZY 1BDR - IPANEMA BEACH
4           Cosy flat close to Ipanema beach