# Noções básicas de Python

## Importar bibliotecas

É feito usando o comando **import** (a biblioteca deve estar instalada na máquina)

In [2]:
import pandas
import numpy
import matplotlib.pyplot

Para facilitar, pode-se substituir o nome da biblioteca por um *alias

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Ao se importar bibliotecas com muitas funções, convém também selecionar especificamente o que vai ser usado

In [4]:
from sklearn.linear_model import LinearRegression

## Sintaxe

### Variáveis

Não é preciso declarar o tipo de variável: numérico, caracter, etc.

In [5]:
num_hosp = 3
description = '2 bedrooms in Gávea super cozy' # ou "2 bedrooms in Gávea super cozy"

In [6]:
num_hosp

3

In [7]:
description

'2 bedrooms in Gávea super cozy'

#### String (caracter)

Strings são definidas com áspas - simples ou duplas -, e podem ser concatenadar com o operador  '+'

In [8]:
nome='Roberto'
num_pes='2'
num_dias='4'

confirma="Olá, "+nome+", você reservou um quarto para "+num_pes+" pessoas durante "+num_dias+" dias \n\nBoa estadia!"

print(confirma)

Olá, Roberto, você reservou um quarto para 2 pessoas durante 4 dias

Boa estadia!

Nota: o caracter "\" é usado para diferenciar caracteres especiais, por ex:
    - \n: nova linha
    - \": áspas
    - \t: tab

Para a barra invertida, usase a sequência "\\", ou, para ignorar toda a ocorrência, r""

In [9]:
caminho1="\\ofertas\\carnaval"
caminho2=r"\agendamentos\pendentes"

print(caminho1)
print(caminho2)

\ofertas\carnaval
\agendamentos\pendentes

#### Lists (listas/array)

Listas são definidas com colchetes [ ], e são exatamente isso, listas de variáveis, não necessariamente do mesmo tipo.
Para acessar um elemento, utiliza-se um índice, que em Python começa do 0, como na maioria das linguagens.

In [10]:
rating = [3, 4, 3, 3, 5]
interesses= ['praia', 'trilha', 'cultural']
info=['Roberto', 'Arantes', 25, False]

Comandos úteis são:
    - sum(): soma
    - len(): comprimento da lista - número de elementos
    - in: checar pertencimento
    - .extend: adiciona uma lista à outra
    - +: concatena listas
    - .append: adiciona elemento a uma lista
    - sorted(): ordena os elementos de acordo com seu módulo

In [11]:
media=sum(rating)/len(rating) # 3.6
compat = 'cachorro' in interesses # False
nome_completo=info[0]+' '+info[1] # 'Roberto Arantes'

#### Tuples (tuplas)

Tuplas são definidas com parênteses ( ), ou nada, e têm basicamente as mesmas propriedades das listas, porém não podem ser modificadas depois de declaradas.

In [12]:
ratings = 2, 3, 3, 4, 3

try: 
    ratings[0] = 5
except TypeError:
    print('Não podemos modificar os ratings')

Não podemos modificar os ratings

Apesar disso, ainda podemos sobreescrever tuplas utilizando os mesmos nomes de variáveis

In [13]:
ratings =(5, 5, 5, 5, 5)
print(ratings)

(5, 5, 5, 5, 5)

#### Dicionários

Dicionários são definidos com colchetes { }, e associa determinados valores a chaves, em vez de índices numéricos

In [14]:
info = {'nome': 'Roberto', 'sobrenome':'Arantes', 'idade': 26, 'alérgico': False }

idade_hospede = info['idade']

In [15]:
infos = [{'nome': 'Roberto', 'sobrenome':'Arantes', 'idade': 26, 'alérgico': False },
         {'nome': 'Mariana', 'sobrenome':'Dias', 'idade': 24, 'alérgico': True }]

In [16]:
'Bom dia, '+infos[0]['nome']+' e '+infos[1]['nome']+'!'

'Bom dia, Roberto e Mariana!'

### Controle de fluxo

Como a maioria das linguagens, Python tem funções condicionais e de iteração, ou seja **if-else**, **while** e **for**.

**Importante** A identação das linhas define o que está dentro ou fora dos comandos

In [17]:
vagas = [{'id': '001', 'preco': 300},
         {'id': '002', 'preco': 200},
         {'id': '003', 'preco': 100},
         {'id': '004', 'preco': 250},
         {'id': '005', 'preco': 400},
         {'id': '006', 'preco': 150},]

prec_max = 200

for i in range(6):
    if vagas[i]['preco']<=prec_max:
        print('Quarto '+vagas[i]['id']+ ' dentro do preço máximo')
    else:
        print('Quarto '+vagas[i]['id']+ ' acima do preço máximo')

Quarto 001 acima do preço máximo
Quarto 002 dentro do preço máximo
Quarto 003 dentro do preço máximo
Quarto 004 acima do preço máximo
Quarto 005 acima do preço máximo
Quarto 006 dentro do preço máximo

Ou ainda

In [18]:
for quarto in vagas:
    if quarto['preco']<=prec_max:
        print('Quarto '+quarto['id']+ ' dentro do preço máximo')
    else:
        print('Quarto '+quarto['id']+ ' acima do preço máximo')

Quarto 001 acima do preço máximo
Quarto 002 dentro do preço máximo
Quarto 003 dentro do preço máximo
Quarto 004 acima do preço máximo
Quarto 005 acima do preço máximo
Quarto 006 dentro do preço máximo

### Pertencimento a listas

Podemos ainda criar regras para pertencimento a listas de forma mais prática, aplicando filtros ou criando listas derivadas

In [19]:
vagasEmConta = [quarto for quarto in vagas if quarto['preco']<=prec_max]
print(vagasEmConta)

[{'id': '002', 'preco': 200}, {'id': '003', 'preco': 100}, {'id': '006', 'preco': 150}]

In [20]:
['Quarto '+quarto['id']+ ' dentro do preço máximo' for quarto in vagas if quarto['preco']<=prec_max]

['Quarto 002 dentro do preço máximo',
 'Quarto 003 dentro do preço máximo',
 'Quarto 006 dentro do preço máximo']

## Pandas

Pandas é uma biblioteca para manipulação de dados no Python. Ela disponibiliza estruturas e funções que facilitam consideravelmente o trabalho.

Começamos importanto a biblioteca. Para facilitar, a chamamos de **pd**

In [21]:
import pandas as pd

### Importar dados

A forma mais comum de armazenamento de dados que utilizaremos será na forma de arquivo csv (separado por vírgula). Para carregá-los para seu código, usa-se a função **read_csv**

pd.read_csv(< caminho do arquivo >, sep=',', header=0, names=None, index_col=None)

sep = separador utilizado
header = linha com o nome das colunas
names = nomes das colunas. header=None
index_col = coluna com o nome das linhas

In [22]:
srs_sem=pd.read_csv('series_sem_hd.csv')

In [23]:
srs_sem.head()

           Very Nice 2Br - Copacabana - WiFi
0           Nice and cozy near Ipanema Beach
1  Beautiful Modern Decorated Studio in Copa
2           NICE & COZY 1BDR - IPANEMA BEACH
3           Cosy flat close to Ipanema beach
4              COPACABANA SEA BREEZE  -  RIO

In [24]:
srs_sem2=pd.read_csv('series_sem_hd.csv', header=None, names=['name'])

In [25]:
srs_sem2.head()

                                        name
0          Very Nice 2Br - Copacabana - WiFi
1           Nice and cozy near Ipanema Beach
2  Beautiful Modern Decorated Studio in Copa
3           NICE & COZY 1BDR - IPANEMA BEACH
4           Cosy flat close to Ipanema beach

In [26]:
srs_com=pd.read_csv('series_com_hd.csv')

In [27]:
srs_com.head()

   Unnamed: 0                                       name
0           0          Very Nice 2Br - Copacabana - WiFi
1           1           Nice and cozy near Ipanema Beach
2           2  Beautiful Modern Decorated Studio in Copa
3           3           NICE & COZY 1BDR - IPANEMA BEACH
4           4           Cosy flat close to Ipanema beach

In [28]:
srs_com2=pd.read_csv('series_com_hd.csv', index_col=0)

In [29]:
srs_com2.head()

                                        name
0          Very Nice 2Br - Copacabana - WiFi
1           Nice and cozy near Ipanema Beach
2  Beautiful Modern Decorated Studio in Copa
3           NICE & COZY 1BDR - IPANEMA BEACH
4           Cosy flat close to Ipanema beach

### pandas.Series

A primeira estrutura que veremos será **Series**


Básicamente, armazenam dados, não necessariamente do mesmo tipo, de forma unidimensional

Na prática, funciona bastante como um dicionário.

In [59]:
s=srs_com2.head()
s

                                        name
0          Very Nice 2Br - Copacabana - WiFi
1           Nice and cozy near Ipanema Beach
2  Beautiful Modern Decorated Studio in Copa
3           NICE & COZY 1BDR - IPANEMA BEACH
4           Cosy flat close to Ipanema beach

Podemos editar os índices das linhas

In [60]:
s2=s
s2.index=['i_od4HAsVLo', 'L_jWHffIx5E', 'wZZ7oFKsKzY', 'kxopViU98Xo', 'CaE0JD1X12g']
s2

                                                  name
i_od4HAsVLo          Very Nice 2Br - Copacabana - WiFi
L_jWHffIx5E           Nice and cozy near Ipanema Beach
wZZ7oFKsKzY  Beautiful Modern Decorated Studio in Copa
kxopViU98Xo           NICE & COZY 1BDR - IPANEMA BEACH
CaE0JD1X12g           Cosy flat close to Ipanema beach

Ou criar series a partir de dicionários

In [50]:
infoSr=pd.Series(info)
infoSr

alérgico       False
idade             26
nome         Roberto
sobrenome    Arantes
dtype: object

Selecionamos os elementos pelos nomes ou índices das linhas (iniciando em 0)

In [51]:
infoSr['nome']

'Roberto'

In [52]:
infoSr[2]

'Roberto'

### pandas.DataFrame

O **DataFrame** armazena dados numa estrutura retangular. Não necessariamente os dados de uma mesma linha ou coluna precisam ser do mesmo tipo.

Cada coluna de um **DataFrame** pode ser considerada comom uma **Series**

In [57]:
df = pd.read_csv('dataframe_ex.csv', index_col=0)
df.head()

,id,price,name,house_rules,bedrooms,bathrooms
0,17878,300.0,Very Nice 2Br - Copacabana - WiFi,Please leave the apartment in a clean fashion ...,2.0,1.0
1,24480,228.0,Nice and cozy near Ipanema Beach,Please remove sand when you come from the beac...,1.0,1.0
2,25026,159.0,Beautiful Modern Decorated Studio in Copa,Smoking outside only. Family building so pleas...,1.0,1.0
3,31560,247.0,NICE & COZY 1BDR - IPANEMA BEACH,"So far, I haven't had any problems with guests...",1.0,1.0
4,35636,342.0,Cosy flat close to Ipanema beach,"Dear Guest, Welcome! We hope you enjoy our apa...",1.0,1.5

In [62]:
infoDf=pd.DataFrame(infos)
infoDf

   alérgico  idade     nome sobrenome
0     False     26  Roberto   Arantes
1      True     24  Mariana      Dias

### Mexendo com os dados

O poder do **pandas** está na facilidade com que ele permite manipular e visualizar os dados

#### Descritivos

Conhecendo os dados

In [65]:
df.head()

,id,price,name,house_rules,bedrooms,bathrooms
0,17878,300.0,Very Nice 2Br - Copacabana - WiFi,Please leave the apartment in a clean fashion ...,2.0,1.0
1,24480,228.0,Nice and cozy near Ipanema Beach,Please remove sand when you come from the beac...,1.0,1.0
2,25026,159.0,Beautiful Modern Decorated Studio in Copa,Smoking outside only. Family building so pleas...,1.0,1.0
3,31560,247.0,NICE & COZY 1BDR - IPANEMA BEACH,"So far, I haven't had any problems with guests...",1.0,1.0
4,35636,342.0,Cosy flat close to Ipanema beach,"Dear Guest, Welcome! We hope you enjoy our apa...",1.0,1.5

In [64]:
df.columns

Index(['id', 'price', 'name', 'house_rules', 'bedrooms', 'bathrooms'], dtype='object')

In [67]:
s.index

Index(['i_od4HAsVLo', 'L_jWHffIx5E', 'wZZ7oFKsKzY', 'kxopViU98Xo',
       'CaE0JD1X12g'],
      dtype='object')

In [68]:
df.describe()

                 id         price      bedrooms     bathrooms
count  3.560200e+04  35602.000000  35578.000000  35533.000000
mean   1.350431e+07    634.809954      1.661673      1.711733
std    7.771073e+06   1610.795395      1.093058      1.052553
min    1.787800e+04      0.000000      0.000000      0.000000
25%    8.188927e+06    152.000000      1.000000      1.000000
50%    1.358789e+07    300.000000      1.000000      1.000000
75%    1.888895e+07    600.000000      2.000000      2.000000
max    3.004268e+07  39998.000000     45.000000     20.000000

In [69]:
df.dtypes

id               int64
price          float64
name            object
house_rules     object
bedrooms       float64
bathrooms      float64
dtype: object

In [71]:
df.count()

id             35602
price          35602
name           35529
house_rules    17713
bedrooms       35578
bathrooms      35533
dtype: int64

In [76]:
df.max()

id           30042682.0
price           39998.0
bedrooms           45.0
bathrooms          20.0
dtype: float64

In [78]:
df.price.head()

0    300.0
1    228.0
2    159.0
3    247.0
4    342.0
Name: price, dtype: float64

In [83]:
df.bathrooms.sum()

60823.0

In [84]:
df.price.mean()

634.8099544969384

Para encontrar um elemento

In [89]:
df.iloc[7,3]

'- No talking at the outside after 10pm.'

In [90]:
df.loc[7, 'house_rules']

'- No talking at the outside after 10pm.'

Filtros

In [92]:
df[df['price']<=300].head()

,id,price,name,house_rules,bedrooms,bathrooms
0,17878,300.0,Very Nice 2Br - Copacabana - WiFi,Please leave the apartment in a clean fashion ...,2.0,1.0
1,24480,228.0,Nice and cozy near Ipanema Beach,Please remove sand when you come from the beac...,1.0,1.0
2,25026,159.0,Beautiful Modern Decorated Studio in Copa,Smoking outside only. Family building so pleas...,1.0,1.0
3,31560,247.0,NICE & COZY 1BDR - IPANEMA BEACH,"So far, I haven't had any problems with guests...",1.0,1.0
5,35764,220.0,COPACABANA SEA BREEZE - RIO,"Pede-se carteira de identidade, CPF e comprova...",1.0,1.0

In [95]:
df[df['price']<=df['price'].mean()].bedrooms.sum()

37072.0

In [109]:
df[(df.price<=df.price.mean()) & (df.bedrooms==df.bathrooms)].bedrooms.mean()

1.2688431597368897